body {
  margin: 0;
  padding: 0;
  font-family: 'Signika Negative', sans-serif;
}
img {
  border: 0;
}

.logo {
  width: 70px;
  margin: 5px;
  align-self: center;
}
.navbar {
  vertical-align: top;
  background-color: #48424d;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: #fcf7ee;

  font-size: 30px;
  align-self: center;
}

.middle-img {
  height: 90vh;
  background-image: url(./images/home-office.jpeg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  z-index: 0;
}
.text-section1 {
  position: absolute;
  left: 25px;
  top: 100px;
  z-index: 1;
  background-color: #f0d6a8;
  width: 500px;
  height: 200px;
  opacity: 0.5;
}
.top-left {
  position: absolute;
  left: 25px;
  top: 100px;
  z-index: 2;
  color: #070707;
  opacity: 1;
  width: 500px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}
.text-section2 {
  position: absolute;
  right: 25px;
  top: 300px;
  z-index: 1;
  background-color: #f0d6a8;
  width: 500px;
  height: 200px;
  opacity: 0.5;
}
.mid-right {
  position: absolute;
  right: 25px;
  top: 300px;
  z-index: 2;
  color: #070707;
  opacity: 1;
  width: 500px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}
.color-block {
  height: 100vh;
  background-color: #a38a66;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  z-index: 0;
}
.woman-typing {
  position: absolute;
  right: 100px;
  top: 700px;
  z-index: 1;
  height: 475px;
  width: 300px;
}
.woman-typing2 {
  position: absolute;
  left: 100px;
  top: 700px;
  z-index: 1;
  height: 475px;
  width: 300px;
}
.middle-text {
  font-size: 20px;
  color: #070707;
  position: absolute;
  left: 525px;
  top: 700px;
  z-index: 1;
  width: 300px;
  height: 475px;
  text-align: center;
}
