<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KP Projects</title>
    <link rel="stylesheet" href="projects.css" />
  </head>
  <body>
    <header class="nav-container">
      <nav class="navbar">
        <img
          class="logo"
          src="../../images/KP-logo.png"
          alt="logo"
          title="logo"
        />

        <a class="nav-links" href="/index.html">Home ></a>
        <a class="nav-links" href="../../skills.html">Skills ></a>
        <a class="nav-links" href="/components/projects/projects.html"
          >Projects ></a
        >
        <a class="nav-links" href="../../contact.html">Contact ></a>
      </nav>
    </header>
    <div id="projects" class="projects-page"></div>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <h4 id="modal-title"></h4>
        <p>No Content</p>
        <button class="close">CLOSE</button>
      </div>
    </div>

    <script src="projects.js"></script>
  </body>
</html>
